/* Basic CSS */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

h3, h4, p {
  margin: 0;
  padding: 0;
}

/* App CSS */
.App {
  height: 100vh;
}

/* Login & Signup CSS */
#login-main,
#signup-main {
  background-image: linear-gradient(
    #a0d2eb,
    #e5eaf5,
    #d0bdf4,
    #8458b3,
    #a28089
  );
}
#login-main .login-container,
#signup-main .signup-container {
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.login-welcome,
.signup-welcome {
  font-size: 50px;
}
.login-welcome,
.signup-welcome,
.login-title,
.signup-title {
  color: #ff1d58;
}
.login-text,
.signup-text {
  font-size: 30px;
  color: #0049b7;
  text-underline-offset: 10px;
}
.login-dont,
.signup-user {
  cursor: pointer;
}
.login-dont:hover,
.signup-user:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.login-btn,
.signup-btn {
  background-color: #0049b7 !important;
  border: none !important;
  letter-spacing: 0.05em !important;
  /* width: 30% !important; */
  /* min-width: 30px !important; */
}
.login-btn:hover,
.signup-btn:hover {
  background-color: #ff1d58 !important;
}
.submit-hide {
  visibility: hidden;
}

/* Loading Screen CSS */
.loading-screen {
  height: 100%;
}
@media only screen and (max-width: 300px) {
  .login-welcome,
  .signup-welcome {
    font-size: 40px;
    margin-bottom: 20px !important;
  }
}